*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vt-link{
  all: unset;
}
.vt-link:hover{
  cursor: pointer;
}

/* colore status */

.done{
  background-color: #198754 !important;
}
.todo{
  background-color: #dc3545 !important;
}
.doing{
  background-color: #ffc107 !important;
}

.container-button{
  display: flex;
  justify-content: center;
}